.suggest-login-container {
  height: 126px;
  padding-top: 0;
  background: url(https://s2.music.126.net/style/web2/img/index/index.png?724237747bf71331ed93400836cc97b7)
    no-repeat 0 9999px;
  background-position: 0 0;
  width: 253px;
  margin-left: 0.5px;
}

.login-button {
  text-shadow: 0 1px 0 #8a060b;
  width: 100px;
  height: 31px;
  text-align: center;
  background: url(https://s2.music.126.net/style/web2/img/index/index.png?6138ce5db961b3799c11405c9a3ee7aa)
    no-repeat 0 9999px;
  background-position: -110px -195px;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sider-title {
  color: #333;
  font-size: 12px;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.sider-container {
  margin: 0px 12px;
}

.artist-container {
  display: flex;
  align-items: center;
  border: 1px solid #e9e9e9;
  cursor: pointer;
  background: #fafafa;
  height: 62px;
  margin-bottom: 12px;
}

.artist-container:hover {
  background-color: #dfdfdf;
}

.daily-sign-container {
  background: url(https://s2.music.126.net/style/web2/img/index/index.png?594364704c1b21e06b59761e91e9648c)
    no-repeat 0 9999px;
  background-position: 0 -270px;
  height: 165px;
  border-bottom: 1px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-sign-avatar {
  padding: 2px;
  background: #fff;
  border: 1px solid #dadada;
  width: max-content;
}

.level {
  background: url(https://s2.music.126.net/style/web2/img/icon2.png?4a0d200163d61ac161611693c518820a)
    no-repeat 0 9999px;
  background-position: -130px -84px;
  color: #777;
  position: relative;
  width: 41px;
  height: 17px;
  color: #999;
  font-weight: bold;
  font-style: italic;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.level-right {
  background: url(https://s2.music.126.net/style/web2/img/icon2.png?4a0d200163d61ac161611693c518820a)
    no-repeat 0 9999px;
  width: 8px;
  height: 17px;
  background-position: -192px -64px;
}

.daily-sign-button {
  background: url(https://s2.music.126.net/style/web2/img/button2.png?79145a18e07d666fd1e36a1c68d986e1);
  background-position: right -428px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
  width: 100px;
}

.daily-sign-button:hover {
  color: #fff;
  background-position: right -510px;
}

.daily-sign-button-inner {
  background: url(https://s2.music.126.net/style/web2/img/button2.png?79145a18e07d666fd1e36a1c68d986e1);
  background-position: 0 -387px;
  margin-right: 6px;
  color: #fff;
  /* font-weight: bold; */
  padding-left: 6px;
  font-size: 12px;
}

.daily-sign-button-inner:hover {
  color: #fff;
  background-position: 0 -469px;
}
