.album-container {
  width: 130px;
  overflow: hidden;
  height: 150px;
  position: relative;
  user-select: none;
  min-width: 130px;
  padding: 0px 12px;
  margin-top: 8px;
}

.album-mask {
  background: url(https://s2.music.126.net/style/web2/img/coverall.png?0fb42867861dca88f7f8fd63e3609e20)
    no-repeat;
  background-position: 0 -570px;
  position: absolute;
  top: 0;
  left: 12px;
  width: 120px;
  height: 100px;
}

.album-left-arrow {
  background: url(https://s2.music.126.net/style/web2/img/index/index.png?724237747bf71331ed93400836cc97b7)
    no-repeat 0 9999px;
  position: absolute;
  top: calc(50% - 18px);
  left: 3px;
  width: 17px;
  height: 17px;
  background-position: -280px -75px;
}

.album-right-arrow {
  background: url(https://s2.music.126.net/style/web2/img/index/index.png?724237747bf71331ed93400836cc97b7)
    no-repeat 0 9999px;
  position: absolute;
  top: calc(50% - 21px);
  right: 4px;
  width: 17px;
  height: 17px;
  background-position: -320px -75px;
}

.top-index {
  width: 35px;
  text-align: center;
  color: #666;
  font-size: 16px;
}

.read-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.toplist-song-name {
  color: #000;
}

.toplist-song-name:hover {
  text-decoration: underline;
}

.column-title-container {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.column-title-playlist-container {
  margin-left: 16px;
  color: #000;
  font-weight: bold;
}

.playlist-mask {
  position: absolute;
  background: url(https://s2.music.126.net/style/web2/img/coverall.png?0fb42867861dca88f7f8fd63e3609e20)
    no-repeat;
  top: 16px;
  left: 0px;
  width: 80px;
  height: 80px;
  background-position: -145px -57px;
}
