html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f5f5 !important;
  overflow-y: overlay !important;
  /* filter: grayscale(0.95); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #f5f5f5;
    background: black;
  }
} */

.custom-menu {
  background-color: #242424 !important;
  height: 70px;
}

.custom-menu .ant-menu-item-selected {
  background-color: #000 !important;
  color: #fff !important;
}

.custom-menu .ant-menu-item {
  display: flex !important;
  align-items: center !important;
  border-radius: 0px !important;
}

.custom-menu .ant-menu-item-selected::before {
  content: "";
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: transparent transparent #c20c0c;
  position: absolute;
  bottom: -1.5px;
  left: calc(50% - 8px);
}

.custom-menu .ant-menu-item-active {
  background-color: #000 !important;
}

.custom-sub-menu {
  background-color: transparent !important;
  height: 25px !important;
  border: none !important;
  color: #fff !important;
  font-size: 12px !important;
  border-radius: 20px;
}

.custom-sub-menu .ant-menu-item-selected {
  background-color: #9b0909 !important;
  border-radius: 20px;
  color: #fff !important;
  /* padding: 18px 20px; */
}

.custom-sub-menu .ant-menu-item-active {
  background-color: #9b0909 !important;
  border-radius: 20px;
  /* padding: 18px 20px; */
}

.custom-sub-menu .ant-menu-item {
  display: flex !important;
  align-items: center !important;
}

.toplist-table {
  border-color: #d3d3d3 !important;
  border-left: 1px solid #d3d3d3 !important;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  margin-top: 16px;
}

.toplist-table * {
  border-radius: 0px !important;
}

.toplist-table .ant-table-cell {
  height: 32px !important;
  padding: 0px 16px !important;
  border-right-color: #d3d3d3 !important;
}

.toplist-table .ant-table-row-level-0 {
  border-left: 1px solid #d3d3d3 !important;
}

.toplist-table .ant-table-row:nth-child(2n-1) {
  background-color: #efefef;
}

.toplist-table .ant-table-row:nth-child(2n) {
  background-color: #f9f9f9;
}

.toplist-table .ant-table-cell-row-hover {
  background-color: transparent !important;
}

.login-modal .ant-modal-content {
  padding: 0px !important;
}

.login-modal .ant-modal-header {
  background-color: #2d2d2d !important;
  padding: 10px 24px;
}

.login-modal .ant-modal-title {
  color: #fff !important;
  font-size: 14px;
}

.login-modal .ant-modal-close-x {
  color: #666666 !important;
}

.login-modal .ant-modal-close {
  top: 10px !important;
}

.my-music-menu .ant-menu {
  background-color: transparent !important;
}

.my-music-menu {
  background-color: transparent !important;
}

.my-music-menu .ant-menu-item {
  padding: 8px 0px 8px 16px !important;
  height: max-content !important;
  white-space: normal !important;
}

.my-music-menu .ant-menu-item-selected {
  background-color: #e6e6e6 !important;
}

.playlist-table .ant-table-cell {
  height: 30px !important;
  padding: 0px 8px !important;
  font-size: 12px !important;
  cursor: pointer;
  font-weight: normal !important;
}

.playlist-table .ant-table-cell:hover {
  text-decoration: underline;
}

.playlist-table .ant-table-thead {
  height: 36px !important;
}

.playlist-table .ant-table-thead .ant-table-cell {
  /* background-color: #f7f7f7 !important; */
  border-radius: 0px !important;
  /* border-bottom: 2px solid #cecece !important; */
  background: url(https://s2.music.126.net/style/web2/img/table.png?397ebc72882b61a3131238998a92bfd3);
  background-position: 0 0;
  background-repeat: repeat-x;
}

.playlist-table .ant-table-row:nth-child(2n-1) {
  background-color: #f7f7f7;
}

.playlist-table .ant-table-row:nth-child(2n) {
  background-color: #fff;
}

.playlist-table .ant-pagination {
  padding-right: 8px;
}
